In [4]:
import pandas as pd

print(pd.__version__)

2.3.3

In [5]:
df = pd.read_clipboard()
df

   #  df   =  pd.read_clipboard()
0  #  df NaN                  NaN